<h1>Insert the form to edit an instance of your model here.</h1>

<form action="/medicines/<%= @medicine.id %>/delete" method="post">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="delete">
</form>