

  <div class="container">
  <header><></header>
  <div class="col-md-8 col-md-offset-2">
   <h1>Welcome, <%= @user.username %></h1>
    <div class="content">
       <p><% @medicines.each do |medicine| %>
        <h1><%= "#{medicine.name}"%></h1>
        <li><b><br><a href= <%="/medicines/#{medicine.id}"%>>Medicine Info</a><br></li>
        <% end %></p>
    </div>
    <div class="sidebar">
      <h3>Links</h3>
        <li><b><br><a href="/medicines/new">Add New Medicine</a><br><li>
         <li><b><br><a href="/logout">Log Out</a><br></li>
      </ul>
    </div>
  </div>
  </div>