<h3>Please enter the name of the new medicine you would like to add.</h3>
<br>
<br>
<form method = "post" action= "/medicines">

Name:<input type= "text" name = "name" id = "name">
<br>
<br>
Dose:<input type = "text" name = "dose" id = "dose">
<br>
<br>
Frequency:<input type = "text" name = "frequency" id = "frequency">

<input type = "submit" value = "Continue">